@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

/*themes*/

[data-theme="dark"] {
    --bg-color: #181818;
    --interface-color: #28282a;
    --interface-hover-color: #313133;
    --text-color: #dededf;
    --text-second-color: #58585a;
}

:root {
    --bg-color: #f3f3f4;
    --interface-color: #ffffff;
    --interface-hover-color: #ebebeb;
    --text-color: #181818;
    --text-second-color: #bababa;
    --calendar-red: #e94848;
}

/* ================================ */

html {
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    transition: background-color 0.1s ease-out; /* плавна зміна кольорів*/
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    box-sizing: border-box;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Ці стилі для правильної стилізації dropdown select (не розібрався, як модернізувати стилі) */

[data-overlayscrollbars~="host"].absolute,
[data-overlayscrollbars~="viewport"].absolute {
    position: absolute !important;
}

.os-theme-dark {
    --os-size: 8px !important;
}

.grid-item {
    @apply text-center py-1 cursor-pointer;
}

.grid-item div {
    @apply flex justify-center items-center rounded-md w-7 h-7;
}

.grid-item:hover div {
    @apply bg-interface-hover;
}

.shadow-box {
    -webkit-box-shadow: 0 1.5px 5px 1px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1.5px 5px 1px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1.5px 5px 1px rgba(0, 0, 0, 0.03);
}
